<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.0.0" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="3.0.0" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.4.1" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net45" />
  <package id="MathNet.Numerics" version="3.11.1" targetFramework="net45" />
  <package id="OxyPlot.Core" version="2014.1.311.1" targetFramework="net45" />
  <package id="OxyPlot.Pdf" version="2014.1.311.1" targetFramework="net45" />
  <package id="PDFsharp-MigraDoc-gdi" version="1.50.4000-beta3b" targetFramework="net45" />
</packages>