<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TT.Lib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <TT.Lib.Properties.Settings>
        <setting name="Height" serializeAs="String">
            <value>600</value>
        </setting>
        <setting name="Width" serializeAs="String">
            <value>750</value>
        </setting>
        <setting name="Top" serializeAs="String">
            <value>200</value>
        </setting>
        <setting name="Left" serializeAs="String">
            <value>200</value>
        </setting>
        <setting name="WindowState" serializeAs="String">
            <value>Normal</value>
        </setting>
        <setting name="CloudApiEndpoint" serializeAs="String">
            <value>https://tumttcloud.tee.pe/api</value>
        </setting>
        <setting name="CloudApiFrontend" serializeAs="String">
            <value>https://tumttcloud.tee.pe</value>
        </setting>
        <setting name="LocalLibraryPath" serializeAs="String">
            <value />
        </setting>
        <setting name="IsMovingFilesToLibrary" serializeAs="String">
            <value>True</value>
        </setting>
    </TT.Lib.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>