<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="MigraDoc" Directory="INSTALLFOLDER"
                    Source="$(var.TT.Viewer.TargetDir)">
      <Component>
        <File Name="MigraDoc.DocumentObjectModel.dll" />
      </Component>
      <Component>
        <File Name="MigraDoc.Rendering.dll" />
      </Component>
      <Component>
        <File Name="MigraDoc.RtfRendering.dll" />
      </Component>
    </ComponentGroup>    
  </Fragment>
</Wix>