<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="PdfSharp" Directory="INSTALLFOLDER"
                    Source="$(var.TT.Viewer.TargetDir)">
      <Component>
        <File Name="PdfSharp.dll" />
      </Component>
      <Component>
        <File Name="PdfSharp.Charting.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>