<?xml version="1.0" encoding="Windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Use * to generate product ID on every build -->
  <Product Id="*"
			 Name="TUM.TT"
			 Language="1031"
			 Version="1.0.0.0"
			 Manufacturer="TU München"
			 UpgradeCode="4C484FD9-23B1-4111-856B-EE5B03BB9EB0">

    <Package Compressed="yes"
         InstallScope="perMachine"
				 Manufacturer="TU München"
				 Description="TUM.TT [ProductVersion] Installer"
				 Comments="(c) 2017 TU München" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <!--Directory structure-->
    <Directory Id="TARGETDIR"
				   Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="DIR_InstallLocation"
						   Name="TU München" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="DIR_ProgramMenu"
               Name="TUM TT" />
      </Directory>
      <Directory Id="DesktopFolder" Name="DIR_Desktop"/>
    </Directory>

    <!--Components-->
    <DirectoryRef Id="DIR_InstallLocation">
      <Component Id="CMP_ViewerEXE"
					   Guid="{44C2C5EF-5D1C-4CBE-ABC1-48CAE236B9DF}">
        <File Id="FILE_ViewerEXE"
					  Source="$(var.TT.Viewer.TargetPath)"
					  KeyPath="yes" />
      </Component>
      <Component Id="CMP_ScouterEXE"
					   Guid="{1A51B1A4-0921-4F7F-8E96-72848585CF04}">
        <File Id="FILE_ScouterEXE"
					  Source="$(var.TT.Scouter.TargetPath)"
					  KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!--Shortcuts-->
    <DirectoryRef Id="DIR_ProgramMenu">
      <Component Id="CMP_UninstallShortcut"
             Guid="{0AD75B8C-DF2A-4509-9985-F6ACC601EA87}">

        <Shortcut Id="SC_UninstallPM"
              Name="Uninstall TUM.TT"
              Description="Uninstalls TUM.TT Analysis Software"
              Target="[System64Folder]msiexec.exe"
              Arguments="/x [ProductCode]"
              Directory="DIR_ProgramMenu"
              WorkingDirectory="System64Folder" />
        <Condition>1</Condition>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="scUninstall" Type="integer" Value="1" KeyPath="yes"/>
        <RemoveFolder Id="DIR_ProgramMenu" On="uninstall"/>
      </Component>

      <Component Id="CMP_SC_PM_Viewer"
         Guid="{A3FB00A1-7CDF-4478-AD72-8B2A82A2D2D6}">

        <Shortcut Id="SC_PM_Viewer"
              Name="TUM.TT Viewer"
              Description="Starts TUM.TT Analysis Software"
              Target="[DIR_InstallLocation]TT.Viewer.exe"
              Directory="DIR_ProgramMenu"
              WorkingDirectory="DIR_InstallLocation" />
        <Condition>1</Condition>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="SC_PM_Viewer" Type="integer" Value="1" KeyPath="yes"/>
      </Component>

      <Component Id="CMP_SC_PM_Scouter"
         Guid="{B6589E74-5635-4CDD-8CFE-FF49F539ADE3}">

        <Shortcut Id="SC_PM_Scouter"
              Name="TUM.TT Scouter"
              Description="Starts TUM.TT Scouting Software"
              Target="[DIR_InstallLocation]TT.Scouter.exe"
              Directory="DIR_ProgramMenu"
              WorkingDirectory="DIR_InstallLocation" />
        <Condition>0</Condition>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="SC_PM_Scouter" Type="integer" Value="1" KeyPath="yes"/>
      </Component>      
    </DirectoryRef>

    <!-- Desktop Shortcuts-->
    <DirectoryRef Id="DesktopFolder">
      <Component Id="CMP_SC_DT_Viewer"
         Guid="{B5D69B97-B3B2-40D7-AA89-6C107F07D7C8}">

        <Shortcut Id="SC_DT_Viewer"
              Name="TUM.TT Viewer"
              Description="Starts TUM.TT Analysis Software"
              Target="[DIR_InstallLocation]TT.Viewer.exe"
              Directory ="DesktopFolder"
              WorkingDirectory="DIR_InstallLocation" />
        <Condition>1</Condition>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="SC_DT_Viewer" Type="integer" Value="1" KeyPath="yes"/>
        <RemoveFolder Id="DesktopFolder" On="uninstall"/>
      </Component>

      <Component Id="CMP_SC_DT_Scouter"
         Guid="{3223FD9A-3F2E-4F08-8668-5A281BB0E705}">

        <Shortcut Id="SC_DT_Scouter"
              Name="TUM.TT Scouter"
              Description="Starts TUM.TT Scouting Software"
              Target="[DIR_InstallLocation]TT.Scouter.exe"
              Directory ="DesktopFolder"
              WorkingDirectory="DIR_InstallLocation" />
        <Condition>0</Condition>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="SC_DT_Scouter" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!--Features-->
    <Feature Id="CompleteFeature"
				 Title="Complete Installation"
				 Level="4">
      <ComponentRef Id="CMP_ViewerEXE" />
      <ComponentRef Id="CMP_ScouterEXE" />
      <ComponentRef Id="CMP_SC_PM_Viewer" />
      <ComponentRef Id="CMP_SC_PM_Scouter" />
      <ComponentRef Id="CMP_UninstallShortcut"/>
      <ComponentRef Id="CMP_SC_DT_Viewer" />
      <ComponentRef Id="CMP_SC_DT_Scouter" />
    </Feature>

    <Feature Id="OnlyViewerFeature"
			 Title="Viewer Only"
			 Level="1">
      <ComponentRef Id="CMP_ViewerEXE" />
      <ComponentRef Id="CMP_SC_PM_Viewer" />
      <ComponentRef Id="CMP_SC_DT_Viewer" />
      <ComponentRef Id="CMP_UninstallShortcut"/>
    </Feature>

    <UIRef Id="WixUI_Mondo"/>
  </Product>
</Wix>
