<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <ComponentGroup Id="Resources.de_DE" Source="$(var.TT.Viewer.TargetDir).\de-DE\" Directory="DE_RES_FOLDER">
      <Component>
        <File Name="TT.Lib.resources.dll" />
      </Component>
      <Component>
        <File Name="TT.Models.resources.dll" />
      </Component>
      <Component>
        <File Name="TT.Report.resources.dll" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
