<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>   
    <ComponentGroup Id="TT_Scouter" Directory="INSTALLFOLDER" 
                    Source="$(var.TT.Scouter.TargetDir)">
      
      <Component Id="Scouter.exe">
        <File Name="TT.Scouter.exe" KeyPath="yes" />
        

        <!-- Add TUM.TT Scouter to the "open with" list for .tto files, and enable Windows 7 jump menu pinning -->
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\Applications\TT.Scouter.exe\SupportedTypes" Name=".tto" Value="" Type="string" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\Applications\TT.Scouter.exe\shell\open" Name="FriendlyAppName" Value="TUM.TT Scouter" Type="string" />

        <!-- Add TUM.TT Scouter to the context menu of .tto files, to support editing even when not associated -->
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\SystemFileAssociations\.xyz\shell\edit.TT.Scouter.exe.exe" Value="Open with TUM.TT Scouter" Type="string" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\SystemFileAssociations\.xyz\shell\edit.TT.Scouter.exe.exe\command" Value="&quot;[APPLICATIONFOLDER]TT.Scouter.exe&quot; &quot;%1&quot;" Type="string" />



      </Component>
      <ComponentGroupRef Id="TT_Scouter.PMShortcuts" />
      <ComponentGroupRef Id="TT_Scouter.DTShortcuts" />
      <ComponentGroupRef Id="ScouterRes.de_DE"/>
    </ComponentGroup>
    
    <!-- Desktop shortcut -->
    <ComponentGroup Id="TT_Scouter.DTShortcuts" Directory="DesktopFolder">
      <Component Id="ScouterDesktopShortcut" Guid="BD97C222-F890-464F-BBFB-F8C323951263">
        <Shortcut Id="ScouterDTShortcut"
                  Name="TUM.TT Scouter"
                  Description="Scout table tennis matches"
                  Target="[INSTALLFOLDER]TT.Scouter.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]"
                       Name="ScouterDesktop" Type="integer" Value="1" KeyPath="yes"/>
      </Component>            
    </ComponentGroup>

    <!-- Start menu shortcut -->
    <ComponentGroup Id="TT_Scouter.PMShortcuts" Directory="ApplicationProgramsFolder">
      <Component Id="ScouterProgramsShortcut" Guid="C7C6B0D8-3605-4B27-8C55-798DA2992882">
        <Shortcut Id="ScouterPMShortcut"
                  Name="TUM.TT Scouter"
                  Description="Scout table tennis matches"
                  Target="[INSTALLFOLDER]TT.Scouter.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]"
                       Name="ScouterStartMenu" Type="integer" Value="1" KeyPath="yes"/>       
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>