<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>   
    <ComponentGroup Id="TT_Scouter" Directory="INSTALLFOLDER" 
                    Source="$(var.TT.Scouter.TargetDir)">
      
      <Component Id="Scouter.exe">
        <File Name="TT.Scouter.exe" KeyPath="yes" />           
      </Component>
      <ComponentGroupRef Id="TT_Scouter.PMShortcuts" />
      <ComponentGroupRef Id="TT_Scouter.DTShortcuts" />
    </ComponentGroup>
    
    <!-- Desktop shortcut -->
    <ComponentGroup Id="TT_Scouter.DTShortcuts" Directory="DesktopFolder">
      <Component Id="ScouterDesktopShortcut" Guid="BD97C222-F890-464F-BBFB-F8C323951263">
        <Shortcut Id="ScouterDTShortcut"
                  Name="TUM.TT Scouter"
                  Description="Scout table tennis matches"
                  Target="[INSTALLFOLDER]TT.Scouter.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]"
                       Name="ScouterDesktop" Type="integer" Value="1" KeyPath="yes"/>
      </Component>            
    </ComponentGroup>

    <!-- Start menu shortcut -->
    <ComponentGroup Id="TT_Scouter.PMShortcuts" Directory="ApplicationProgramsFolder">
      <Component Id="ScouterProgramsShortcut" Guid="C7C6B0D8-3605-4B27-8C55-798DA2992882">
        <Shortcut Id="ScouterPMShortcut"
                  Name="TUM.TT Scouter"
                  Description="Scout table tennis matches"
                  Target="[INSTALLFOLDER]TT.Scouter.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]"
                       Name="ScouterStartMenu" Type="integer" Value="1" KeyPath="yes"/>       
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>