<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="System.Windows.Interactivity" Directory="INSTALLFOLDER"
                    Source="$(var.TT.Viewer.TargetDir)">
      <Component>
        <File Name="System.Windows.Interactivity.dll" />
      </Component>
    </ComponentGroup>    
  </Fragment>
</Wix>