<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ViewerRes.de_DE" Directory="DE_RES_FOLDER"
                    Source="$(var.TT.Viewer.TargetDir).\de-DE\">
      <Component>
        <File Name="TT.Viewer.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
