<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>   
    <ComponentGroup Id="TT_Viewer" Directory="INSTALLFOLDER" 
                    Source="$(var.TT.Viewer.TargetDir)">
      
      <Component Id="Viewer.exe">
        <File Name="TT.Viewer.exe" KeyPath="yes" />

        <!-- Capabilities keys for Vista/7 "Set Program Access and Defaults" -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\[Manufacturer]\[ProductName]\Capabilities" Name="ApplicationDescription" Value="Table tennis observation and statistical analysis" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\[Manufacturer]\[ProductName]\Capabilities" Name="ApplicationIcon" Value="[APPLICATIONFOLDER]TT.Viewer.exe,0" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\[Manufacturer]\[ProductName]\Capabilities" Name="ApplicationName" Value="Table Tennis Analysis" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\[Manufacturer]\[ProductName]\Capabilities\DefaultIcon" Value="[APPLICATIONFOLDER]TT.Viewer.exe,1" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\[Manufacturer]\[ProductName]\Capabilities\FileAssociations" Name=".tto" Value="TTO.Document" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\[Manufacturer]\[ProductName]\Capabilities\MIMEAssociations" Name="application/x-tto" Value="TTO.Document" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\[Manufacturer]\[ProductName]\Capabilities\shell\Open\command" Value="&quot;[APPLICATIONFOLDER]TT.Viewer.exe&quot; &quot;%1&quot;" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="TUM Table Tennis Analysis" Value="SOFTWARE\Table Tennis Analysis\Capabilities" Type="string" />

        <!-- Add TTA to the "open with" list for .tto files, and enable Windows 7 jump menu pinning -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\TT.Viewer.exe\SupportedTypes" Name=".tto" Value="" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\TT.Viewer.exe\shell\open" Name="FriendlyAppName" Value="TUM Table Tennis Analysis" Type="string" />

        <!-- TTO.Document ProgID -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Table Tennis Observation.Document" Name="FriendlyTypeName" Value="Table Tennis Observation" Type="string" />
        <ProgId Id="TTO.Document" Description="Table Tennis Observation" Advertise="yes">
          <Extension Id="tto">
            <Verb Id="open" Command="Open" Argument="&quot;%1&quot;" />
            <MIME Advertise="yes" ContentType="application/x-tto" Default="yes" />
          </Extension>
        </ProgId>

        <!-- Add TTA to the context menu of .tto files, to support editing even when not associated -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.xyz\shell\edit.TT.Viewer.exe.exe" Value="Open with Table Tennis Analysis" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.xyz\shell\edit.TT.Viewer.exe.exe\command" Value="&quot;[APPLICATIONFOLDER]TT.Viewer.exe&quot; &quot;%1&quot;" Type="string" />               
      </Component>
      <ComponentGroupRef Id="TT_Viewer.PMShortcuts" />
      <ComponentGroupRef Id="TT_Viewer.DTShortcuts" />
    </ComponentGroup>
    
    <!-- Desktop shortcut -->
    <ComponentGroup Id="TT_Viewer.DTShortcuts" Directory="DesktopFolder">
      <Component Id="ViewerDesktopShortcut" Guid="43BCE21E-5F83-45AB-9195-633AB7DCD894">
        <Shortcut Id="ViewerDTShortcut"
                  Name="Table Tennis Viewer"
                  Description="Scout table tennis matches"
                  Target="[INSTALLFOLDER]TT.Viewer.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]"
                       Name="ViewerDesktop" Type="integer" Value="1" KeyPath="yes"/>
      </Component>            
    </ComponentGroup>

    <!-- Start menu shortcuts -->
    <ComponentGroup Id="TT_Viewer.PMShortcuts" Directory="ApplicationProgramsFolder">
      <Component Id="ViewerProgramsShortcut" Guid="64A0B4C5-BB90-4117-85DB-15BF3B2826DE">
        <Shortcut Id="ViewerPMShortcut"
                  Name="Table Tennis Viewer"
                  Description="View table tennis matches"
                  Target="[INSTALLFOLDER]TT.Viewer.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]"
                       Name="ViewerStartMenu" Type="integer" Value="1" KeyPath="yes"/>        
      </Component>

      <Component Id="UninstallProgramsShortcut" Guid="B2917D83-42CC-43E6-8821-27B372762BA5">
        <Shortcut Id="SC_UninstallPM"
         Name="Uninstall TUM Table Tennis Analysis"
         Description="Uninstalls TUM.TT Analysis Software"
         Target="[System64Folder]msiexec.exe"
         Arguments="/x [ProductCode]"
         Directory="ApplicationProgramsFolder"
         WorkingDirectory="System64Folder" />
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="SCuninstall" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>